body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 1em;
    color: #682fd3;
}

.gif_container img {
    width: 90%; 
    max-width: 450px; 
    height: auto; 
}
